div{
    color: grey; /*Změna barvy písma*/
    text-align: justify;/*zarovnání textu - do bloku*/
    background-color: coral ;
}
.prvni{
    font-size: 42px; /*velikost písma*/
    text-decoration: none; /*Mění podtržení textu*/
    font-style: italic; /*Zvýraznění písma*/
    font-family: "Verdana", "Arial", sans-serif; /*nastavení dontu písma*/
}
.druhy{
    text-align: center;/*zarovnání textu - na střed*/
    font-weight: 900; /*Tloušťka písma*/
    text-transform: uppercase; /*Kapitálky*/

    /*Nové*/
    border:5px solid black ; /*shorthand pro rámeček- tloušťka rámečk, typ
    ohraničení, barva ohraničení*/ 
    width: 500px; /*šířka prvku*/
    height: 500px; /*výška prvku*/
}
.kulaty{
    width: 500px;
    height: 500px;
    border-radius: 10%;/*zkulacení rohů rámečku*/
}